div#wrap {
    background: #eee;
    border-radius: 10px;
    width: 400px;
    padding: 15px;
    box-sizing: border-box;
    font-family: Arial;
}

header h1 {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

section {
    background: #fff;
    border: 1px solid #bbb;
    padding: 15px;
    margin: 35px 0 15px;
    font-size: 12px;
}

section img {
    border: 1px solid #bbb;
    float: left;
    margin: 0 10px 0 0;
}

section span {
    font-weight: bold;
}

.clear::after {
    content: '';
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

section button {
    height: 25px;
    color: #fff;
    padding: 2px 0 0 24px;
    text-align: left;
}

section button:first-of-type {
    background: url('img/sprites-button.jpg') no-repeat;
    width: 76px;
}

section button:last-of-type {
    background: url('img/sprites-button2.jpg') no-repeat;
    width: 63px;
}

section button:hover {
    background-position: 0 -25px;
    cursor: pointer;
}

section .buttons {
    float: right;
    margin: 15px 0 0;
}
